
    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Hi I'm Davis👋</div>
                <div class="intro-heading">It's My UX Portfolio.</div>
                <a href="#portfolio" class="page-scroll btn btn-xl">View My Projects</a>
                <a href="#about" class="page-scroll btn btn-xl">About Me</a>
                <a href="img/Resume-Davis-2022-TW.pdf" target="_blank" class="page-scroll btn btn-xl"><u>My Resume</u></a>
            </div>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->
<div class="error"></div>
