 <!-- Portfolio Modals -->
 {% for post in site.posts %}
    <div class="portfolio-modal modal fade" id="portfolioModal{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                    <div class="col-md-4"><i class="fa fa-times fa-3x"></i></div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <p>{{ post.subtitle }}</p>
                            <hr class="star-primary">
                            <!--<img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                            -->
                            <div class="row text-center">
                                <div class="col-md-6">
                                    <span class="fa-stack fa-3x">
                                        <i class="fa fa-user fa-stack-1x "></i>
                                    </span>
                                    <h4 class="service-heading">Team</h4>
                                    <p>Davis Chen, Nick Freeland, Xun He, Somalia Jamall</p>
                                </div>
                                <div class="col-md-6">
                                    <span class="fa-stack fa-3x">

                                        <i class="fa fa-sticky-note fa-stack-1x "></i>
                                    </span>
                                    <h4 class="service-heading">Role</h4>
                                    <p>Insights, Music & Sounds, Video Editing, Acting</p>
                                </div>
                            </div>
                            

                            <h3 class="text-primary">Background</h3>
                            <p>{{ post.background }}</p>
                            <h3 class="text-primary">Process</h3>
                            <p>{{ post.process }}</p>
                            <h3 class="text-primary">Design</h3>
                            <p>{{ post.design }}</p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="http://startbootstrap.com">{{ post.client }}</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="http://startbootstrap.com">{{ post.project-date }}</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="http://startbootstrap.com">{{ post.category }}</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
