 <!-- Portfolio Modals -->
 {% for post in site.posts %}
    <div class="portfolio-modal modal fade" id="portfolioModal{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                    <div class="col-md-4 text-center"><i class="fa fa-times fa-3x"></i><div>ESC</div></div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="modal-body">
                            <h1>{{ post.title }}</h1>
                            <p>{{ post.subtitle }}</p>
                            <!--<img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                            -->
                            <div class="container">
                                <div class="row text-center">
                                    <div class="col-md-4">
                                        <span class="fa-stack fa-3x">
                                            <i class="fa fa-user fa-stack-1x text-primary"></i>
                                        </span>
                                        <h4 class="service-heading text-primary">Team</h4>
                                        <p>{{ post.team }}</p>
                                    </div>
                                    <div class="col-md-4">
                                        <span class="fa-stack fa-3x">
                                            <i class="fa fa-hourglass fa-stack-1x text-primary"></i>
                                        </span>
                                        <h4 class="service-heading text-primary">Duration</h4>
                                        <p>{{ post.duration }}</p>
                                    </div>
                                    <div class="col-md-4">
                                        <span class="fa-stack fa-3x">
                                            <i class="fa fa-sticky-note fa-stack-1x text-primary"></i>
                                        </span>
                                        <h4 class="service-heading text-primary">Role</h4>
                                        <p>{{ post.role }}</p>
                                    </div>
                                </div>
                            </div>
                            <hr class="star-primary">

                            

                            
                        </div>
                    </div>
                </div>
                {{ post.content }}
                <div class="row">
                    <div class="col-xl-12">
                        <div class="modal-body">
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
