<h3>Original:</h3>
<!--
    <div class="row">
        <div class="col-xl-12">
            <div class="modal-body">
                {{ post.content }}
            </div>
        </div>
    </div>
-->


<h3>New:</h3>
<div class="row"> <!-- eternal structure: row col-xl-12 modal-body 1-->
<div class="col-xl-12"> <!-- eternal structure: row col-xl-12 modal-body 2-->
<div class="modal-body"> <!-- eternal structure: row col-xl-12 modal-body 3-->
    <!-- post content start-->
    
    <!-- post content end-->
</div> <!-- eternal structure: row col-xl-12 modal-body 4-->
</div> <!-- eternal structure: row col-xl-12 modal-body 5-->
</div>