<!-- About Section -->
    <section id="about" class="bg-gradient-white-gray">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-2"></div>
                <div class="col-md-8 ">
                    <h2 class="section-heading">About Me</h2>
                    <h3 class="section-subheading" style="margin-bottom: 10px; color: lightslategray;">From embedded system development to UX design to web development, I hope my skills can help people learn new technology easily and efficiently. Not only devices, apps, but also personal data privacy, cyberattack, and Internet culture. Design is the way I stay checked-in to society.</h3>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                        <div class="flipper">
                            <div class="front front-border-1">
                                <h2>
                                    <span class="fa-stack fa-1x">
                                        <i class="fa fa-circle fa-stack-2x front-1"></i>
                                        <i class="fas fa-table-tennis fa-stack-1x fa-inverse"></i>
                                    </span>
                                </h2>
                            </div>
                            <div class="back">
                                <h3 class="service-heading">Table tennis is my favorite sport.</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                        <div class="flipper">
                            <div class="front front-border-2">
                                <h2>
                                    <span class="fa-stack fa-1x">
                                        <i class="fa fa-circle fa-stack-2x front-2"></i>
                                        <i class="fas fa-microphone-alt fa-stack-1x fa-inverse"></i>
                                    </span>
                                </h2>
                            </div>
                            <div class="back" style="padding-top: 35%;">
                                <h3 class="service-heading">I have a podcast talking about gaming and comic (Mandarin)</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                        <div class="flipper">
                            <div class="front front-border-3">
                                <h2>
                                    <span class="fa-stack fa-1x">
                                        <i class="fa fa-circle fa-stack-2x front-3"></i>
                                        <i class="fas fa-music fa-stack-1x fa-inverse"></i>
                                    </span>
                                </h2>
                            </div>
                            <div class="back">
                                <h3 class="service-heading">I used to play Flute for 4 years.</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-12" style="margin-bottom: 10px;">
                    <h3>
                        Things I Like
                    </h3>
                </div>
            </div>
            <div class="row text-left">
                <div class="col-md-4 col-sm-6">
                    <h4 class="service-heading">
                        K-POP
                        <span class="fa-stack fa-1x">
                            <i class="fa fa-heart fa-stack-1x"></i>
                        </span>
                    </h4>
                    <p class="text-muted original">
                        Bias: Moonbyul (MAMAMOO)
                    </p>
                    <p class="text-muted original">
                        Ultimate bias: Taeyeon (Girls' Generation)
                    </p>
                </div>
                <div class="col-md-4 col-sm-6">
                    <h4 class="service-heading">
                        NBA
                        <span class="fa-stack fa-1x">
                            <i class="fa fa-basketball-ball fa-stack-1x"></i>
                        </span>
                        
                    </h4>
                    <p class="text-muted original">Pacers fan!</p>
                    <p class="text-muted original">
                        Favorite players:
                        <ul  class="text-muted original">
                            <li>Kobe Bryant</li>
                            <li>Dirk Nowitzki</li>
                            <li>Carmelo Anthony</li>
                            <li>Dwight Howard</li>
                            <li>Victor Oladipo</li>
                        </ul>
                    </p>
                </div>
                <div class="col-md-4 col-sm-6">
                    <h4 class="service-heading">
                        Drama
                        <span class="fa-stack fa-1x">
                            <i class="fa fa-tv fa-stack-1x"></i>
                        </span>
                        
                    </h4>
                    <p class="text-muted original">The Good Place</p>
                    <p class="text-muted original">How to get away with Murder</p>
                    <p class="text-muted original">Sherlock</p>
                    <p class="text-muted original">Legel High (Japanese)</p>
                    <p class="text-muted original">Shitsuren Chocolatier (Japanese)</p>
                </div>
            </div>
            <div class="row text-left">
                <div class="col-md-4 col-sm-6">
                    <h4 class="service-heading">
                        Board Games
                        <span class="fa-stack fa-1x">
                            <i class="fa fa-dice fa-stack-1x"></i>
                        </span>
                        
                    </h4>
                    <p class="text-muted original">Arkham Horror</p>
                    <p class="text-muted original">Carcassonne</p>
                    <p class="text-muted original">Catan</p>
                    <p class="text-muted original">Exploding Kittens</p>
                    <p class="text-muted original">Love Letter</p>
                    <p class="text-muted original">Seasons</p>
                </div>
                <div class="col-md-4 col-sm-6">
                    <h4 class="service-heading">
                        Manga & Anime
                        <span class="fa-stack fa-1x">
                            <i class="fa fa-star fa-stack-1x"></i>
                        </span>
                        
                    </h4>
                    <p class="text-muted original">Act-Age</p>
                    <p class="text-muted original">Detective Conan</p>
                    <p class="text-muted original">Dragon Ball Z</p>
                    <p class="text-muted original">Fate / stay night</p>
                    <p class="text-muted original">K-ON</p>
                    <p class="text-muted original">No Game No Life</p>
                </div>
                <div class="col-md-4 col-sm-6">
                    <h4 class="service-heading">
                        Video Games
                        <span class="fa-stack fa-1x">
                            <i class="fa fa-gamepad fa-stack-1x"></i>
                        </span>
                        
                    </h4>
                    <p class="text-muted original">Factorio</p>
                    <p class="text-muted original">Forza Horizon 3</p>
                    <p class="text-muted original">League of Legends</p>
                    <p class="text-muted original">Rockman X4</p>
                    <p class="text-muted original">Slay the Spire</p>
                    <p class="text-muted original">Super Mario Maker 2</p>
                </div>
            </div>
        </div>
    </section>
