<!-- About Section -->
    <section id="about" class="bg-gradient-white-gray">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-2"></div>
                <div class="col-md-8 ">
                    <h2 class="section-heading">About Me</h2>
                    <h3 class="section-subheading" style="margin-bottom: 10px; color: lightslategray;">From embedded system development to UX design to web development, I hope my skills can help people learn new technology easily and efficiently. Not only devices, apps, but also personal data privacy, cyberattack, and Internet culture. Design is the way I stay checked-in to society.</h3>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </section>
