<!-- About Section -->
    <section id="about" class="bg-gradient-white-gray">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-2"></div>
                <div class="col-md-8 ">
                    <h2 class="section-heading">Introduction</h2>
                    <h3 class="section-subheading" style="margin-bottom: 10px; color: lightslategray;">text 1</h3>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </section>
