/* entire container, keeps perspective */
.flip-container, .flip-container.flip {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;
}

.flip-container, .front, .back {
    width: 200px;
    height: 310px;
}
.flip-container {
    margin: 0px auto;
}

.flipper {
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;

    position: relative;
}

.front, .back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;

    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;

    -moz-transition: 0.6s;
    -moz-transform-style: preserve-3d;

    -o-transition: 0.6s;
    -o-transform-style: preserve-3d;

    -ms-transition: 0.6s;
    -ms-transform-style: preserve-3d;

    transition: 0.6s;
    transform-style: preserve-3d;

    position: absolute;
    top: 0;
    left: 0;

    padding-top: 55px;
}

.back {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);

    background-color: #ffd700;
    /* border: 7px solid; */
    border-color: #2e63b1;
}

.flip-container:hover .back, .flip-container.hover .back, .flip-container.flip .back, .flip-container.flip:hover .front, .flip-container.flip.hover .front {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.flip-container:hover .front, .flip-container.hover .front, .flip-container.flip .front {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.flip-container.flip:hover .back, .flip-container.flip.hover .back {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.front {
    z-index: 2;
    /* background-color: brown; */
    border: 7px solid;
    border-color: #2e63b1;
}

.div-card-height {
    height: 320px;
}

.vertical-align-center {
    position: relative; top:50%; transform:translateY(-50%);
}

.div-line {
    margin-bottom: 60px;
}

.bg-gradient-gray-white {
    background-image: linear-gradient(to bottom, #f7f7f7, #f9f9f9, #fbfbfb, #fdfdfd, #ffffff);
}

.bg-gradient-white-gray {
    background-image: linear-gradient(to bottom, #ffffff, #fdfdfd, #fbfbfb, #f9f9f9, #f7f7f7);
}

.text-general {
    max-width: 768px;
    margin: 0 auto;
}

p.original {
    font-size: 14px;
}

.insight-list {
    box-shadow: 3px 4px 6px #ccc;
    padding: 15px 15px 15px 40px;
    border-radius: 5px;
    border-bottom-right-radius: 35px;
}

.insight-color-1 {
    background: lightgreen;
}

.insight-icon-1 {
    color: lightgreen;
}

.insight-color-2 {
    background: lightsteelblue;
    color: white;
}
.insight-icon-2 {
    color: lightsteelblue;
}

.data-card {
    /* background: linear-gradient( -135deg, transparent 35px, #374247 0); */
    background: #374247;
    color: white;
	border: none;
	padding: 20px;
	border-radius: 10px;
    /* filter: drop-shadow( 2px 2px 10px #7dd4a8 ); */
    /* max-width: 550px; */
    /* margin: 110px auto 0; */
    transition: box-shadow 0.3s;
    /* box-shadow: 2px 2px 10px #7dd4a8; */
}

.data-card:hover {
    /* filter: drop-shadow( 5px 5px 15px #7dd4a8 ); */
    box-shadow: 0px 0px 20px #7dd4a8;
}

.blog-slider {
	width: 95%;
	position: relative;
	max-width: 800px;
	margin: auto;
	background: #fff;
	box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
	padding: 25px;
	border-radius: 25px;
	height: 400px;
	transition: all .3s;
}

.blog-slider__item {

    box-sizing: border-box;
	display: flex;
    align-items: center;

    background-color: gray;
    border-radius: 5px;
}

.blog-slider__img {
	width: 300px;
	flex-shrink: 0;
	height: 300px;
	background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
	box-shadow: 4px 13px 30px 1px rgba(252, 56, 56, 0.2);
	border-radius: 20px;
	transform: translateX(-80px);
	overflow: hidden;
}

.tp-card {
    border: 6px solid #ccc;
}